@model IEnumerable<Library.Models.ViewModels.BookViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h4>List of books</h4>
    <table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(a => a.Borrowed == false)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Borrow", "BorrowBook", new { bookId=item.Id, userId=1 }) @*TODO fetch userId from userManager/signInManager*@
            |
            @Html.ActionLink("Details", "GetBookDetails", new { bookId=item.Id })             
        </td>
    </tr>
}
</table>
<br>
<br>
</div>

<div>
    <h4>List of borrowed books</h4>
    <table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Borrowed by
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(a => a.Borrowed == true && a.BorrowedByCurrentUser == false)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowerNameSurname)
        </td>
        <td>            
            @Html.ActionLink("Details", "GetBookDetails", new { bookId=item.Id })         
        </td>
    </tr>
}
</table>
<br>
<br>
</div>


<div>
    <h4>List of my books</h4>
    <table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(a => a.Borrowed == true && a.BorrowedByCurrentUser == true)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Return", "ReturnBook", new { bookId=item.Id, userId=1 }) 
            |
            @Html.ActionLink("Details", "GetBookDetails", new { bookId=item.Id })             
        </td>
    </tr>
}
</table>
</div>



